{% extends '../main-layout.html' %}

{% block title %}{{ title }}{% endblock %}

{% block css %}
  <!-- build:css /css/nba-salaries.min.css -->
  <link rel="stylesheet" href="/css/nba-salaries.css">
  <!-- /build -->
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="header">
      <h3>NBA Salaries in Season 2013/14</h3>
      <p class="explanation">
        Graph of the salaries for each player in the rooster of the NBA teams during season 2013/14.
        </br>
        Data: <a href="http://www.spotrac.com/nba" target="_blank">http://www.spotrac.com/nba</a>
      </p>
    </div>
  </div>
</div>  
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div id="spinner"></div>
    <div class="graph hide"></div>
  </div>
</div>
{% endblock %}

{% block scripts %}
  <script>
    var ASSETS_URL = "{{ assetsUrl }}";
  </script>

  <!-- build:js /js/nba-salaries.min.js -->
  <script src="/js/nba-salaries.js"></script>
  <!-- /build -->
{% endblock %}