{% extends '../main-layout.html' %}

{% block title %}{{ title }}{% endblock %}

{% block css %}
  <!-- build:[href] /css/visualizations.min.css -->
  <link rel="stylesheet" href="/css/visualizations.css">
  <!-- /build -->
  <!-- build:[href] /css/nba-salaries.min.css -->
  <link rel="stylesheet" href="/css/nba-salaries.css">
  <!-- /build -->
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="header">
      <h3>NBA Salaries in Season 2013/14</h3>
      <p class="explanation">
        Graph of the salaries for each player in the rooster of the NBA teams during season 2013/14.
        </br>
        Data: <a href="http://www.spotrac.com/nba">http://www.spotrac.com/nba</a>
      </p>
    </div>
  </div>
</div>  
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div id="spinner"></div>
    <div class="graph hide"></div>
  </div>
</div>
{% endblock %}

{% block scripts %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/spin.js/2.3.2/spin.min.js" integrity="sha256-PieqE0QdEDMppwXrTzSZQr6tWFX3W5KkyRVyF1zN3eg=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.5.0/d3.min.js" integrity="sha256-zpVWm3Cr6glhznPw+JDmVMMSx0j/lY4+tC/vK9gALwQ=" crossorigin="anonymous"></script>
  
  <script>
    var ASSETS_URL = "{{ assetsUrl }}";
  </script>

  <!-- build:[src] /js/nba-salaries.min.js -->
  <script src="/js/nba-salaries.js"></script>
  <!-- /build -->
{% endblock %}