{% extends '../main-layout.html' %}

{% block title %}{{ title }}{% endblock %}

{% block css %}
  <!-- build:css /css/wilco-shows.min.css -->
  <link rel="stylesheet" href="/css/wilco-shows.css">
  <!-- /build -->
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="header">
      <h3>Colors of Wilco's Shows</h3>
      <p class="explanation">
        Each song played by Wilco in shows from 1994 colored according to its studio album.
        </br>
        Data: <a href="http://www.setlist.fm" target="_blank">http://www.setlist.fm</a>
        </br>
        Images: <a href="http://wilcoworld.net" target="_blank">http://wilcoworld.net</a>
      </p>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div id="spinner"></div>
  </div>

  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 graph-section hide">
    <section id="affix-element" class="row" data-spy="affix" data-offset-top="254" data-offset-bottom="10">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-12">
            <form class="form-horizontal">
              <div class="form-group form-group-sm">
                <label class="col-xs-3 col-sm-3 col-md-3 col-lg-3 control-label">Select an album:</label>
                <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                  <select class="form-control" data-bind="foreach: options, value: selected">
                    <!-- ko if: disabled -->
                      <option disabled>────────────</option>
                    <!-- /ko -->
                    <!-- ko if: !disabled -->
                      <option data-bind="value: id, text: name"></option>
                    <!-- /ko -->
                  </select>
                </div>
              </div>
            </form>
          </div>
        </div>

        <div class="row" data-bind="css: { hide: selected() !== 0 }">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="row" data-bind="foreach: slicedAlbums">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="row" data-bind="foreach: $data">
                  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <div data-bind="template: { name: 'album-template', data: abbrev }"></div>
                    <div style="display: block; padding: 5px 0 10px 0">
                      <div style="display:table-cell; vertical-align:middle; padding-right: 5px">
                        <div data-bind="style: { backgroundColor: color }" style="width:10px; height:10px"></div>
                      </div>
                      <div style="display:table-cell; vertical-align:middle; width:100%" data-bind="text: name">
                      </div>              
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row" data-bind="foreach: albums">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <article class="row" data-bind="attr: { id: 'album-' + id }, css: { hide: $parent.selected() !== id }">
              <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <div data-bind="template: { name: 'album-template', data: abbrev }"></div>
                <h5 data-bind="text: name"></h5>
                <p data-bind="text: label" class="explanation"></p>
                <p data-bind="text: formattedReleased" class="explanation"></p>
              </div>
              <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                <table style="width: 100%">
                  <thead style="border-bottom: 1px solid #ccc">
                    <tr>
                      <th colspan="1">&nbsp;</th>
                      <th colspan="1">&nbsp;</th>
                      <th colspan="1">&nbsp;</th>
                      <th colspan="1" style="text-align: center"># of times played</th>
                    </tr>
                  </thead>
                  <tbody data-bind="foreach: songs">
                    <tr>
                      <td data-bind="text: $index() + 1" style="text-align: right"></td>
                      <td><div data-bind="style: { backgroundColor: color }" class="color-box"></div></td>
                      <td data-bind="text: name"></td>
                      <td data-bind="text: count" style="text-align: center"></td>
                    </tr>
                  </tbody>
                </table>      
              </div>  
            </article>
          </div>
        </div>
      </div>
    </section>
  </div>
  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 graph-section hide">
    <div class="graph"></div>
  </div>
</div>  
{% endblock %}

{% block scripts %}
  <script type="text/html" id="album-template">
    <!-- ko if: $data == 'am' -->
      <img src="/img/wilco-shows/am.jpg" class="img-responsive"/>
    <!-- /ko -->
    <!-- ko if: $data == 'being-there' -->
      <img src="/img/wilco-shows/being-there.jpg" class="img-responsive"/>
    <!-- /ko -->
    <!-- ko if: $data == 'summerteeth' -->
      <img src="/img/wilco-shows/summerteeth.jpg" class="img-responsive"/>
    <!-- /ko -->
    <!-- ko if: $data == 'yankee-hotel-foxtrot' -->
      <img src="/img/wilco-shows/yankee-hotel-foxtrot.jpg" class="img-responsive"/>
    <!-- /ko -->
    <!-- ko if: $data == 'a-ghost-is-born' -->
      <img src="/img/wilco-shows/a-ghost-is-born.jpg" class="img-responsive"/>
    <!-- /ko -->
    <!-- ko if: $data == 'sky-blue-sky' -->
      <img src="/img/wilco-shows/sky-blue-sky.jpg" class="img-responsive"/>
    <!-- /ko -->
    <!-- ko if: $data == 'the-album' -->
      <img src="/img/wilco-shows/the-album.jpg" class="img-responsive"/>
    <!-- /ko -->
    <!-- ko if: $data == 'the-whole-love' -->
      <img src="/img/wilco-shows/the-whole-love.jpg" class="img-responsive"/>
    <!-- /ko -->
    <!-- ko if: $data == 'star-wars' -->
      <img src="/img/wilco-shows/star-wars.jpg" class="img-responsive"/>
    <!-- /ko -->
    <!-- ko if: $data == 'schmilco' -->
      <img src="/img/wilco-shows/schmilco.jpg" class="img-responsive"/>
    <!-- /ko -->
  </script>

  <script>
    var ASSETS_URL = "{{ assetsUrl }}";
  </script>

  <!-- build:js /js/wilco-shows.min.js -->
  <script src="/moment/moment.js"></script>
  <script src="/knockout/knockout.js"></script>
  <script src="/js/wilco-shows.js"></script>
  <!-- /build -->
{% endblock %}