div.header {
  text-align: center;
  padding-bottom: 40px;
}

p.explanation {
  color: #bbb;
  margin: 0;
}

#spinner {
  width: 100%;
  height: 100px;
}

svg {
  margin: 0 auto;
  display: block;
}

text {
  font-size: 11px;
}

.graph {
  padding-bottom: 20px;
}