.affix{
  top: 10px;
}

th, td { padding: 0 5px 0 5px; }
td div.color-box {
  width: 10px;
  height: 10px;
}

.song-name {
  font-size: 13px;
}

rect {
  box-sizing: border-box;
}

path.year-divisor {
  stroke: #ccc;
  stroke-width: 1;
  fill: none;
}

tspan.year-text {
  font-size: 25px;
  fill: #ccc;
}

tspan.stats-text {
  font-size: 20px;
  fill: #999;
}